body {
    font-family: Arial, sans-serif;
  }

  body {
    background-image: url('img/recursos_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  
  header {
    background: linear-gradient(90deg, #007bff, #0056b3);
  }
  
  footer {
    background: #333;
    color: #fff;
  }
  